@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  --background: #ffffff;
  --foreground: #171717;
  --background-gradient-start: #0a031a;
  --background-gradient-end: #141414;
  --background-gradient: linear-gradient(
    to bottom,
    var(--background-gradient-start),
    var(--background-gradient-end)
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background-gradient); */
  background-attachment: fixed; /* Makes the gradient fixed, so it doesn't scroll */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
