@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  --background: #ffffff;
  --foreground: #171717;
  --background-gradient-start: #0a031a;
  --background-gradient-end: #141414;
  --background-gradient: linear-gradient(
    to bottom,
    var(--background-gradient-start),
    var(--background-gradient-end)
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background-gradient); */
  background-attachment: fixed; /* Makes the gradient fixed, so it doesn't scroll */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animate-underline {
  position: relative;
  text-decoration: none;
}

.animate-underline:hover::before {
  transform: scaleX(1);
}

/* Animate the line from the left */
.animate-underline::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: purple;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.gradient-rotate {
  position: relative;
  overflow: hidden;
  z-index: -2;
}

.gradient-rotate::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  opacity: 0.1;
  height:50%;
  transform-origin: center;
  animation: animate-rotate 10s linear infinite;
  z-index: -1;
}

@keyframes animate-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}